<!DOCTYPE html>
<html>
    <head>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<style>
			#store {
				display: none;
			}
			
			#formLogin {
				display: none;
			}
		</style>
    </head>
    <body>
		
		<script>
		
			function registerForm() {
				document.getElementById("formSubmit").value = "Sign Up";
				document.getElementById("formHeader").innerHTML = "Sign Up.";
				$(".formLogin").show();
				$(".formRegister").hide();
			}
			
			function loginForm() {
				document.getElementById("formSubmit").value = "Log In";
				document.getElementById("formHeader").innerHTML = "Log In";
				$(".formLogin").hide();
				$(".formRegister").show();
			}
			
			function logout() {
			
			}
		
			function verify() {
				
			}
		
		</script>
		
		<div id="store">
			<h1>Store Page</h1>
		</div>
		
		<div id="login">
			<h1 id="formHeader">Log In</h1>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>
			
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			
			<input id="formSubmit" type="submit" value="login" onclick="verify()">
			<a class="formRegister" href="" onclick="registerForm()">Don't have an account? Click here to sign up.</a>
			<a class="formLogin" href="" onclick="loginForm()">Already have an account? Click here to log in.</a>
		</div>
		
    </body>
</html>
