<!DOCTYPE html>
<html>
    <head>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<style>
			#store {
				display: none;
			}
			
			#formRegister {
				text-decoration: none;
				color: black;
			}
			#formRegister:visited {
				text-decoration: none;
				color: black;
			}
			
			#formLogin {
				display: none;
				text-decoration: none;
				color: black;
			}
			#formLogin:visited {
				text-decoration: none;
				color: black;
			}
		</style>
    </head>
    <body>
		
		<script>
			var token;
		
			function registerForm() {
				document.getElementById("formSubmit").value = "Sign Up";
				document.getElementById("formHeader").innerHTML = "Sign Up";
				$(".formLogin").show();
				$(".formRegister").hide();
			}
			
			function loginForm() {
				document.getElementById("formSubmit").value = "Log In";
				document.getElementById("formHeader").innerHTML = "Log In";
				$(".formLogin").hide();
				$(".formRegister").show();
			}
			
			function logout() {
				fetch("/logout");
				token = undefined;
				$("#login").show();
				$("#store").hide();
			}
		
			async function verify() {
				var text = document.getElementById("formHeader").innerHTML.toLowerCase();
				var action = (text == "log in") ? "login" : "signup";
				
				const response = await $.post("/" + action,
					{ "username": document.getElementById("username").value, "password": document.getElementById("password").value }, "json");
				if (action == "login" && response.status == 200) {
					token = await response.data
					loadBooks();
					$("#login").hide();
					$("#store").show();
				}
				else {
					alert(response.data.message);
				}
				
				document.getElementById("username").value = "";
				document.getElementById("password").value = "";
				return true;
			}
			
			async function loadBooks() {
				const response = await $.post("/loadBooks", { "jwt": token.jwt }, "json");
				for(i = 0; i < 3; i++) {
					document.getElementById("books").innerHTML += 
					postResponse.data.books[i].book_name + '<br>'
					+ postResponse.data.books[i].book_author + '<br>'
					+ postResponse.data.books[i].book_genre + '<br>'
					+ postResponse.data.books[i].book_price + '<br>';
				}
			}
		
		</script>
		
		<div id="store">
			<h1>Store Page</h1>
			<div id="books"></div>
		</div>
		
		<div id="login">
			<h1 id="formHeader">Log In</h1>
			<label for="username">Username</label>
			<input type="text" id="username" name="username" required>
			
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			
			<input id="formSubmit" type="submit" value="Log In" onclick="verify()">
			<a id="formRegister" href="#" onclick="registerForm()">Don't have an account? Click here to sign up.</a>
			<a id="formLogin" href="#" onclick="loginForm()">Already have an account? Click here to log in.</a>
		</div>
		
    </body>
</html>
