<!DOCTYPE html>
<html>
    <head>
		<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico" />
		<link href="static/toastr.css" rel="stylesheet"/>
		<link href="static/styles.css" rel="stylesheet"/>
		<script src="static/toastr.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		
    </head>
	
    <body>
		<script>
			setInterval( function() { $('#mytime').html("The client time is " + new Date()); }, 500);
		</script>
		
		<script>
			function off() {
                document.getElementById("overlay").style.display = "none";
                var audio = document.getElementById("spooky");
                audio.play();
            }
		</script>
		
		<script>
			var spooky = document.getElementById("spooky"); 
			if (window.addEventListener) {
				var kkeys = [], konami = "38,38,40,40,37,39,37,39,66,65";
				var triggered = false;
				window.addEventListener("keydown", function(e){
					kkeys.push( e.keyCode );
					if ( kkeys.toString().indexOf( konami ) >= 0 ) {
						if ( triggered == false ) {
							triggered = true;
							kkeys.length = 0;
							spooky.pause();
							$("body").append("<div><video class='centre' id='stormvind' autoplay controls loop width='window.innerWidth' height='window.innerHeight'><source src='stormvind.webm' type='video/webm'></video></div>");
							var video = document.getElementById("stormvind");
						} else if (triggered == true) {
							triggered = false;
							$("#stormvind").remove();
							spooky.play();
						}
					}
					while (kkeys.length >= konami.split(',').length) {
						kkeys.shift();
					}
				}, true);
			}
		</script>
		
		<div id="overlay" class="container" onclick="off()">
            <a href='#'class='playBut'>
                <svg version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                    x="0px" y="0px" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7"
                    xml:space="preserve">

                    <polygon class='triangle' id="XMLID_18_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                        73.5,62.5 148.5,105.8 73.5,149.1 "/>

                    <circle class='circle' id="XMLID_17_" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
                </svg>
            </a>
        </div>
		
		<!-- original https://www.youtube.com/watch?v=IpGxnVNsVNg -->
		<audio id="spooky" loop>
            <source src="static/spooky.mp3" type="audio/mpeg">
        </audio>
	
		<h1 class="front" id="mytime"></h1>
		<h1 class="front">The server time is {{server_time}}</h1>	
			
		<div id="snow"></div>
	    
    </body>
</html>
