<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
		<link rel="stylesheet" href="static/styles.css">
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
		<script>
			setInterval( function(){ $('#mytime').html("Client Time is " + new Date()); }, 500);
			setInterval( function(){ $('#hello').html("hello"); }, 500);
			
			// js for audio
			window.onload = function() {
				var context = new AudioContext();
			}
		</script>
		
		<div class="fullscreen-bg">
			<video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
				<source src="static/rick.mp4" type="video/mp4">
			</video>
		</div>
		
		<!-- test audio -->
		<audio autoplay>
			<source src="static/rick.mp3">
		</audio>
		
	    <h1 id="mytime"></h1>
	    <h2 id="hello"> </h2>
	    <h1>Server Time is {{server_time}}</h1>
    </body>
</html>
