<!DOCTYPE html>
<html>
    <head>
		<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<style>
		body {
			font-family: Roboto Light;
		}
		
		div {
			display: inline-block;
		}
		
		.topnav {
			background-color: #d9d9d9;
			width: auto;
			float: left;
		}
		.topnav a {
			float: left;
			color: black;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			font-size: 17px;
		}
		.topnav a:hover {
			background-color: #878787;
			color: white;
		}
		.topnav a.active {
			background-color: #454545;
			color: white;
		}
		</style>
    </head>
    <body>
	
		<script>
			$(document).ready(function() {
				$( ".nav-item" ).bind( "click", function(event) {
					event.preventDefault();
					var clickedItem = $( this );
					$( ".nav-item" ).each( function() {
						$( this ).removeClass( "active" );
					});
					clickedItem.addClass( "active" );
				});
			});
		</script>
		
		<div class="topnav">
			<a class="nav-item active" href="">Store</a>
			<a class="nav-item" href="">Check Out</a>
		</div>
		
		<div>
			<p>This is where the books will be.</p>
		</div>
		
    </body>
</html>
