<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat Application</title>
        <link href="../static/style.css" rel="stylesheet" />

        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <script type="text/javascript" charset="utf-8">
            var socket;

            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');

                socket.on('connect', function() {
                    socket.emit('join', {
                        username: "{{ username }}",
                        room: "{{ room }}"
                    });
                });

                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });

                let message_input = document.getElementById('message_input');

                document.getElementById('message_input_form').onsubmit = function (e) {
                    e.preventDefault();
                    let message = message_input.value.trim();
                    if (message.length) {
                        socket.emit('text', {msg: message});
                    }
                    message_input.value = '';
                    message_input.focus();
                }
            });

            window.onbeforeunload = function () {
                socket.emit('left', {
                    username: "{{ username }}",
                    room: "{{ room }}"
                })
            };

            function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('index') }}";
                });
            }
        </script>
    </head>

    <body class="text-center">
    
        <div class="chatwindow">
            <h2>Room : {{session['room']}}</h2>
            <form id="message_input_form">
                <textarea id="chat" cols="70" rows="10" placeholder="There are no messages."></textarea>
                <input type="text" id="message_input" size="60" placeholder="Enter your message here"/>
                <input type="submit" style="display:none"/>
            </form>
            <button type="button" onclick=leave_room()>Leave this Chat</button>
        </div>
    </body>
</html>